*/ {
    =margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

\ body {
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.55)), url(img8.webp);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: flex;
    margin: 20px;
    list-style: none;
}

.navbar ul {
    gap: 30px;
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 21px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: red
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

content h1 {
    font-size: 80px;
    margin-top: 70px;
}

content p {
    margin: 2Opx;
    font-weight: 100;
    height: 30vh;
}

button {
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

button {
    border: 2px solid #009688;
}

button:hover {
    background: #009688;
}